<footer class="footer">
    <small>
        A fake twitter clone by
        by <a href="https://github.com/amandasupak">Amanda Supak</a> 
    </small>
    <nav> 
        <ul>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><a href="https://news.railstutorial.org/">News</a></li>
        </ul>
    </nav>
</footer>